.App-wrapper{
  display: grid;
  width: 1200px;
  margin: auto;
grid-template-areas:  /*расположение строк*/
  'h h '
  'n c';
  grid-template-rows: 60px 1fr; /*сколько строк*/
  grid-template-columns: 2fr 10fr;/*сколько колонок*/
  grid-gap: 10px;

}
.header{
grid-area: h;
  background-color: beige;
}
.nav{
  grid-area: n;
  background-color: darkslateblue;
}
.content{
  grid-area: c;
  background-color: darkseagreen;
}
.header img{
  width: 60px;
}
.content img{

}